@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);
@import url("typography.css");

@import url("loader.css");
@import url("upload-button.css");

body {
    background: #fff;
}

h1.title {
    padding-top: 5%;
}

div.view {
    text-align: center;
    display: none;
}

#upload {
    display: block;
    padding-top: 10%;
}

#loading {
    padding-top: 5%;
}