@import url("typography.css");
@import url("loader.css");
@import url("input-fields.css");
@import url("select-color-canvas.css");
@import url("identify-color-display.css");

body {
    background: rgb(234, 234, 234);
}

h1.title {
    padding-top: 5%;
}

div.view {
    text-align: center;
    display: block;
    padding: 5% 0;
}

#input-view .or {
    margin: 24px 0;
}

#input-view .url-input-container {
    margin-bottom: 12px;
}

#input-view p.url-input-error {
    visibility: hidden;
}

#select-color-view {
    display: block;    
}

#identify-color-view {
    display: block;    
}

#loading-view {
    padding-top: 10%;
}